.pancake-container {
	display: grid;
	grid-template-columns: 45% 50% 5%;
	gap: 10px;
	padding: 10px;
}

.pancake1 {
	grid-row-start: 1;
	grid-row-end: 5;
}

.pancake1 img {
	max-width: 100%;
	height: auto;
	border-radius: 3%;
}

.waffle-container {
	display: grid;
	grid-template-columns: 45% 50% 5%;
	gap: 10px;
	padding: 10px;
}

.waffle1 {
	grid-row-start: 1;
	grid-row-end: 5;
}

.waffle1 img {
	max-width: 100%;
	height: auto;
	border-radius: 3%;
}

.toast-container {
	display: grid;
	grid-template-columns: 45% 50% 5%;
	gap: 10px;
	padding: 10px;
}

.toast1 {
	grid-row-start: 1;
	grid-row-end: 5;
}

.toast1 img {
	max-width: 100%;
	height: auto;
	border-radius: 3%;
}

.egg-container {
	display: grid;
	grid-template-columns: 45% 50% 5%;
	gap: 10px;
	padding: 10px;
}

.egg1 {
	grid-row-start: 1;
	grid-row-end: 8;
}

.egg1 img {
	max-width: 100%;
	height: auto;
	border-radius: 3%;
}

.bside-container {
	display: grid;
	grid-template-columns: 45% 50% 5%;
	gap: 10px;
	padding: 10px;
}

.bside1 {
	grid-row-start: 1;
	grid-row-end: 9;
}

.bside1 img {
	max-width: 100%;
	height: auto;
	border-radius: 3%;
}

.drink-container {
	display: grid;
	grid-template-columns: 45% 50% 5%;
	gap: 10px;
	padding: 10px;
}

.cold1 {
	grid-row-start: 1;
	grid-row-end: 10;
}

.cold1 img {
	max-width: 100%;
	height: auto;
	border-radius: 3%;
}