.syrup {
	margin-top: 0;
	padding-top: 0;
	text-align: center;
	font-style: italic;
}

.syrup span {
	text-decoration: underline;
}

.jelly {
	margin-top: 0;
	padding-top: 0;
	text-align: center;
	font-style: italic;
}

.jelly span {
	text-decoration: underline;
}

.breakfast img {
	border-radius: 10px;
}