.icecream {
	margin-top: 0;
	padding-top: 0;
	text-align: center;
	font-style: italic;
}

.icecream span {
	text-decoration: underline;
}

.cake img {
	border-radius: 10px;
}

.pie img {
	border-radius: 10px;
}

.ice img {
	border-radius: 10px;
}