* {
	box-sizing: border-box;
}

body, h1, h2,
h3, h4, h5, h6, {
	font-family: "Monserrat", sans-serif;
}

body {
	margin: 0;
	background-image: radial-gradient(circle, #000000, #c89116);
	color: red;
}

/*Navigation Bar*/
.sidebar {
	margin: 0;
	padding: 0;
	background-color: black;
	position: fixed;
	width: 200px;
	height: 100%;
}

.sidebar a {
	padding: 12px 24px;
	color: white;
	display: block;
	text-decoration: none;
}

.sidebar a:hover {
	background-color: grey;
	color: black;
	opacity: 0.6;
}

.sidebar-icons i {
	margin-right: 16px;
	color: white;
	font-size: 32px;
}

@media screen and (max-width: 700px) {
	.sidebar {
		width: 100%;
		height: auto;
		position: relative;
	}
	.sidebar a {
		float: left;
	}
	div.content {
		margin-left: 0;
	}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
	.sidebar a {
		text-align: center;
		float: none;
	}
}

/*Main Content*/
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {
	margin-left: 200px;
	padding: 12px 24px;
}

#home {
	padding-top: 32px;
	padding-bottom: 32px;
	text-align: center;
}

#home h1 {
	font-size: 64px;
}

/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {
	#main {
		margin-left: 0;
	}
}

/*About*/
#about {
	padding-top: 64px;
	padding-bottom: 64px;
	color: grey;
	text-align: justify;
}

#about h2 {
	color: lightgrey;
}

#about p {
	font-size: 18px;
	text-align: justify;
	line-height: 1.5;
}

/*Menu*/
#menu {
	padding-top: 64px;
	padding-bottom: 64px;
	color: grey;
}
#menu h2,
#menu p {
	text-align: center;
}

#menu h2 a {
	color: #f4c6db;
	text-decoration: none;
}

#menu i {
	padding: 16px;
	color: blue;
}

.row {
	margin: 8px -16px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.row,
.row > .column {
	padding: 8px;
}

.column {
	float: left;
	width: 25%;
}

/*Contact*/
#contact {
	padding-top: 64px;
	padding-bottom: 64px;
	color: grey;
}

#contact h2 {
	color: lightgrey;
}

.contact-icons i {
	margin-right: 16px;
	color: red;
	font-size: 32px;
}

.form input {
	padding-top: 16px;
	padding-bottom: 16px;
	width: 100%;
}

.form textarea {
	padding-top: 16px;
	padding-bottom: 16px;
	width: 100%;
}

.btn {
	padding: 12px 24px;
	background-color: lightgrey;
	cursor: pointer;
}

.btn:hover {
	background-color: grey;
}

/*Footer*/
.footer {
	color: black;
}

.footer-row:after {
	content: "";
	display: table;
	clear: both;
}

.footer-column {
	padding: 10px;
	float: left;
}

.hours {
	width: 25%;
}

.footer-icon {
	text-align: center;
	width: 50%;
	padding-top: 64px;
}

.footer-icon button {
	background-color: transparent;
	font-size: 17.5px;
}

.footer-icon button:hover {
	background-color: black;
	color: white;
	border: none;
}

.address {
	width: 25%;
}

@media screen and (max-width: 600px) {
	.footer-column {
		width: 100%;
	}
}