* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

/*Navigation Bar*/
.navbar ul {
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	left: 0;
	width: 100%;
	position: absolute;
	z-index: 100;
}

.navbar li {
	text-decoration: none;
	list-style-type: none;
	padding: 20px 15px;
}

.navbar li a {
	color: #1e263f;
	background-color: transparent;
	font-size: 21px;
	font-weight: 750;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1.75px;
}

/*Home Page*/
.parallax {
	background-image: url("Image30-1536x1153.jpeg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 650px;
}

.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	height: 475px;
}

.intro header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
}

.intro h1 {
	color: #1e263f;
	font-size: 64px;
	font-weight: 700;
	text-align: center;
}

/*About Section*/
.about {
	background-color: #f3f3f3;
	padding: 50px 30px;
	display: flex;
	align-items: center;
}

.about p {
	margin: auto;
	text-align: center;
	font-size: 17px;
	line-height: 1.75;
	width: 75%;
}

/*Possible Use*/
.main {
	margin: auto;
	max-width: 1000px;
}

.row {
	margin: 8px -16px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.row,
.row > .column {
	padding: 8px;
}

.column {
	float: left;
	width: 25%;
}

.content {
	
	background-color: white;
}

@media screen and (max-width: 900px) {
	.column {
		width: 50%;
	}
}

@media screen and (max-width: 600px) {
	.column {
		width: 100%;
	}
}