.row {
	margin-top: 0;
	margin-bottom: 0;
	background-color: #c3c3c3;
}

h2 {
	text-align: center;
}

.kbreakfast img {
	border-radius: 10px;
}

.kdinner img {
	border-radius: 10px;
}

.ksides img {
	border-radius: 10px;
}

.kdrinks img {
	border-radius: 10px;
}

.kdessert img {
	border-radius: 10px;
}

.content {
	background-color: #c3c3c3;
}