* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

/*Big Header*/
.header {
	padding: 60px;
	background-color: burlywood;
	color: white;
	font-size: 30px;
	text-align: center;
}

.header a {
	color: white;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
	text-decoration: none;
}

/*Navigation Tab Menu*/
.tab {
	background-color: #f1f1f1;
	border: 1px solid #ccc;
	overflow: hidden;
}

.tab button {
	padding: 14px 16px;
	background-color: inherit;
	font-size: 17px;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	transition: 0.3s;
}

.tab button:hover {
	background-color: #ddd;
}

.tab button.active {
	background-color: #ccc;
}

.tabcontent {
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
	display: none;
}

/*Main Content*/
.main {
	padding: 20px 16px;
}

.main h2 {
	padding-top: 45px; /*MAY NOT NEED*/
}

.main h3 {
	padding: 25px;
	text-align: center;
}

.main h4 {
	padding-top: 31px;
	text-decoration: underline;
	text-transform: uppercase;
}

/*Menu*/
.main-menu {
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	background-color: burlywood;
	width: 80%;
	max-width: 1050px;
}

/*Sub Menu*/
.item-container {
	padding-top: 5px;
	padding-bottom: 5px;
	display: flex;
}

.item-content {
	flex: 1 1 100%;
}

.item-btn {
	margin-top: 0;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 0;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	line-height: 1.5;
	vertical-align: middle;
	user-select: none;
}

.item-name {
	margin-top: 0;
	margin-bottom: 0;
	text-align: left;
	font-size: 18px;
	display: flex;
}

.item-description {
	margin-top: 0;
	margin-bottom: 8px;
	display: block;
}

.item-content-price {
	margin-right: -10px;
	text-align: right;
	display: inline-flex;
	flex-wrap: wrap;
}

.item-content-price button {
	padding: 0 7px;
}

@media screen and (min-width: 768) {
	.item-content-price {
		flex: 1 1 100%;
		justify-content: flex-end;
	}
}

/*Footer*/
footer {
	text-align: center;
	font-size: 17px;
	letter-spacing: 1.25px;
}

/*Responsive*/
