* {
	box-sizing: border-box;
}

body {
	margin: 0;
	overflow-x: hidden;
}

/*Big Header*/
.header {
	padding: 60px;
	background-image: radial-gradient(circle, #000000, #c89116);
	color: white;
	font-size: 30px;
	text-align: center;
}

.home {
	color: white;
	text-decoration: none;
	font-size: 18px;
	top: 8px;
	right: 16px;
	position: absolute;
}

.header p {
	font-size: 72px;
	color: white;
	text-align: center;
	text-decoration: none;
	animation: glow 1s ease-in-out infinite alternate;
}

/*NAVBAR MENU*/
.navbar {
	background-color: #555;
	width: 100%;
	overflow: auto;
}

.navbar a {
	padding: 12px;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 17px;
	float: left;
	width: 10%;
}

.navbar a:hover {
	background-color: #000;
}

.navbar a.active {
	background-color: #04aa6d;
}

/*ROW AND COLUMNS*/
.row {
	margin: 0;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #c3c3c3;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.row,
.row > .column {
	padding: 8px;
}

.column {
	float: left;
	width: 33.33%;
}

/*CONTENT*/
h2 {
	margin-bottom: 0;
	text-align: center;
}

h3 {
	margin-bottom: 0;
	text-align: center;
	font-style: italic;
}

h4 {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	text-align: center;
}

.content {
	background-color: transparent;
	padding: 10px;
	display: block;
}

.content p {
	margin-top: 0;
	padding-top: 0;
	text-align: center;
	font-style: normal;
	font-size: 13px;
	font-weight: bold;
}

.content span {
	font-style: italic;
	font-weight: normal;
}

/*RESPONSIVE*/
@media screen and (max-width: 800px) {
	.navbar a.active {
		background-color: transparent;
		color: pink;
	}
}

@media screen and (max-width: 700px) {
	.header a {
		font-size: 13.5px;
	}
	.header p {
		font-size: 32px;
	}
}

@media screen and (max-width: 700px) {
	.navbar a {
		padding: 0;
		text-align: left;
		font-size: 12px;
		width: 11.11%;
		display: flex;
		justify-content: space-evenly;
	}
}

@media screen and (max-width: 700px) {
	h2 {
		font-size: 18px;
	}
	h3 {
		font-size: 16px;
	}
	h4 {
		font-size: 14px;
	}
	p {
		font-size: 12px;
	}
}

@media screen and (max-width: 500px) {
	.header a {
		font-size: 12px;
	}
	.navbar a {
		display: block;
		text-align: left;
		float: none;
		width: 100%;
	}
}

@media screen and (max-width: 500px) {
	h2 {
		font-size: 16px;
	}
	h3 {
		font-size: 14px;
	}
	h4 {
		font-size: 12px;
	}
	p {
		font-size: 10px;
	}
}

@media screen and (max-width: 450px) {
	.row {
		padding-left: 10px;
		padding-right: 10px;
	}
	.row,
	.row > .column {
		padding: 4px;
	}
}

@media screen and (max-width: 725px) {
	.content span {
		margin-top: 0;
		display: none;
	}
}