.top-right {
	position: absolute;
	top: 8px;
	right: 16px;
	display: flex;
	justify-content: space-between;
}

.top-right a {
	color: white;
	text-decoration: none;
	width: 70px;
}

.row {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #c3c3c3;
}

h2 {
	text-align: center;
}

.apps img {
	border-radius: 10px;
}

.content {
	background-color: #c1c1c1;
}